:root {
	--bg-dark: #1a1a1a;
	--bg-light: #f7f9fc;
	--text-dark: #333;
	--text-light: #f7f9fc;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
	background-color: var(--bg-dark);
	color: var(--text-light);
  margin: 2%;
}

h1, p {
  text-align: center;
}

.socials {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.95em;
}

a {
  color: var(--text-light);
}

.img-container {
  display: grid; /*using grid so images can be placed directly on top of each other without absolute positioning*/
  grid-template-areas: "img-container";
  place-items: center;
}

.img-container > * {
 grid-area: img-container;
 max-height: 85vh;
 min-height: 400px;
 object-fit: contain; /*necessary to maintain aspect ratio*/
 padding: 1em;
}

.mask-image {
  mask-image: url(../img/maskshape.png);
  -webkit-mask-image: url(../img/maskshape.png);
  mask-size: 25%;
  -webkit-mask-size: 25%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
	cursor: grab;
}

.mask-image.dragging {
  cursor: grabbing;
}

/* Styles for mobile screens up to 500px wide */
@media (max-width: 500px)
{
  .socials {
    font-size: 0.75em;
  }
}