:root {
	--bg-dark: #1a1a1a;
	--bg-light: #f7f9fc;
	--text-dark: #333;
	--text-light: #f7f9fc;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
	background-color: var(--bg-dark);
	color: var(--text-light);
  margin: 2%;
}

.img-container {
  margin: 5%;
  display: grid;
  grid-template-areas: "img-container";
  place-items: center;
}

.img-container > * {
 grid-area: img-container;
}

.base-image {
  padding-left: 10px; /*temporary so I can see both images are on the page before masking is implemented*/
}