:root {
	--bg-dark: #1a1a1a;
	--bg-light: #f7f9fc;
	--text-dark: #333;
	--text-light: #f7f9fc;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
	background-color: var(--bg-dark);
	color: var(--text-light);
  margin: 2%;
}

.img-container {
  margin: 5%;
  display: grid;
  grid-template-areas: "img-container";
  place-items: center;
}

.img-container > * {
 grid-area: img-container;
 width: 65vw;
}

.mask-image {
  /*padding-left: 10px; temporary so I can see both images are on the page before masking is implemented*/
  mask-image: url(./rectangle.svg);
  -webkit-mask-image: url(./rectangle.svg);
  /*mask-position: 50% 50%;
  -webkit-mask-position: 50% 50%;*/
  /*mask-position: var(--x, 50%) var(--y, 50%);
  -webkit-mask-position: var(--x, 50%) var(--y, 50%);*/
  mask-size: 25%;
  -webkit-mask-size: 25%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}